@font-face {
  src: url('Inter-Regular.woff') format('woof'),
    url('Inter-Regular.woff2') format('woof2');
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;



  @font-face {
    src: url('Inter-Black.woof') format('woof'),
      url('Inter-Black.woof2') format('woof2');
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    src: url('Inter-Bold.woof') format('woof'),
      url('Inter-Bold.woff2') format('woof2');
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }