.places__place_space {
  margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .places__place_space {
    margin-bottom: 82px;
  }
}

@media screen and (max-width: 768px) {
  .places__place_space {
    margin-bottom: 45px;
  }
}
