.places__url-heading {
  font-size: 12px;
  line-height: 83%;
  margin: 0;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media screen and (max-width: 320px) {
  .places__url-heading {
    margin-bottom: 15px;
  }
}
